<mat-toolbar class="header mat-elevation-z3">
    <span>
        <a class="figura">
            <img src="assets/image/logoBiblio.jpg" alt="logo" class="logo" routerLink="/">
        </a>
    </span>

    <span class="title-group" routerLink="/">
        Biblioteca João Nascif Chalupp
    </span>

    <span class="usuario" routerLink="/login">

        Higor Teixeira<!--Criar variável com o nome de quem estiver logado-->
    
        <a mat-list-item routerLink="/login" class="login">
            <i class="material-icons" title="Usuário">
                supervised_user_circle
            </i>
        </a>

    </span>

</mat-toolbar>
