mat-card{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 5px;
}

button{
    margin: 5px;
}

.title{
    font-size: 2rem;
}

.subtitle{
    font-size: 1.1rem;
    font-style: italic;
    padding-top: 5px;
}